<!-- call to  action -->
{{ with site.Data.homepage.cta }}
<section class="py-5 bg-gradient position-relative">
  {{/*  <img src="{{ .overlayImage | absURL }}" class="img-fluid overlay-image" alt="">  */}}
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-lg-8 col-md-7">
        <h2 class="text-white text-center customfont1">{{ .title | markdownify }}</h2>
        <p class="text-white text-center">{{ .content | markdownify }}</p>
        {{ with .button }}
        <div class="text-center">
          <a href="{{ .link | absURL }}" class="btn btn-light">{{ .label }}</a>
        </div>
        {{ end }}
      </div>
      {{/*  <div class="col-lg-4 col-md-5 position-relative">
        <img class="cta-image" src="{{ .image | absURL }}" alt="">
      </div>  */}}
    </div>
  </div>
</section>
{{ end }}
<!-- /call to action -->