<section class="section pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mb-4 mb-lg-0">
                <!-- product image slider -->
                {{ if eq (len .Params.Images) 1 }}
                {{ range .Params.Images }}
                <img class="img-fluid w-100" src="{{ .image | absURL }}" alt="product-img">
                {{ end }}
                {{ else }}
                <div class="product-slider">
                    {{ range .Params.Images }}
                    <div data-image="{{ .image | absURL }}">
                        <img class="img-fluid w-100" src="{{ .image | absURL }}" alt="product-img">
                    </div>
                    {{ end }}
                </div>
                {{ end }}
            </div>
            <div class="col-lg-5 offset-lg-1">
                <h4 class="font-weight-medium" id="item-Name">{{ .Title }}</h4>
                <!-- rating star -->
                {{ if site.Params.rating.enable }}
                <div class="rw-ui-container"></div>
                {{ end }}
                <div class="my-4">
                    {{ if .Params.PriceBefore }}
                    <s>{{ site.Params.currencySymbol }}{{ .Params.PriceBefore }}</s>
                    {{ end }}
                    <span class="lead text-primary font-weight-medium">{{ site.Params.currencySymbol }}{{ .Params.Price
                        }}</span>
                </div>
                <h5>Short Description</h5>
                <p>{{ .Params.ShortDescription | markdownify }}</p>
                <hr class="p-2">
                <label>Quantity</label>
                <input id="quantity" type="number" class="form-control"></input>

                {{ if isset .Params "typelable" }}
                <label class="pt-3">{{ .Params.typeLable }}</label>
                {{ end }}

                {{ if isset .Params "types" }}
                <select class="form-control" id="frame_color">
                    {{ range .Params.types }}
                    <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                </select>
                {{ end }}

                <button class="snipcart-add-item btn btn-primary mt-4" id="item-button"
                    data-item-id="{{ .Params.ProductID }}" data-item-name="{{ .Title }}" {{ range first 1 .Params.Images
                    }} data-item-image="{{ .image | absURL }}" {{ end }} data-item-price="{{ .Params.Price }}"
                    data-item-url="{{ .Permalink }}" data-item-description="{{ .Description }}" {{ if isset
                    .Params "typelable" }} data-item-custom1-name="{{ .Params.typeLable }}" {{ end }} {{ if isset
                    .Params "types" }} data-item-custom1-options="{{ delimit .Params.types " |" }}" {{ end }}>
                    Add to cart
                </button>

                {{if isset .Params "video" }}
                <div class="pt-5">
                    <a data-toggle="modal" data-src="{{ .Params.Video | safeURL }}" data-target="#videoModal"
                        class="text-color video-modal"><i
                            class="ti-control-play bg-gradient hover-shadow btn-play mr-2"></i><span>Watch
                            Review</span></a>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content border-0 rounded-0">
                            <iframe width="560" height="315" src="" id="video" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
            <div class="col-12 mt-5">
                <ul class="nav nav-tabs border-bottom-0" id="myTab" role="tablist">
                    <li class="nav-item mr-3">
                        <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab"
                            aria-controls="description" aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab"
                            aria-controls="reviews" aria-selected="false">Reviews</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="description" role="tabpanel"
                        aria-labelledby="description-tab">
                        <div class="content">{{ .Content }}</div>
                    </div>
                    <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                        {{ template "_internal/disqus.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>